<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ChatPDFDoc{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css?v=1" />
    <link rel="icon" href="/static/img/logomain.png" />
    {% block head_extra %}{% endblock %}
</head>
<body>
    <header class="app-header">
        <div class="brand-group">
            <a href="/" class="brand">
                <img src="/static/img/logomain.png" alt="Logo" class="logo" />
                <span class="brand-text">ChatPDFDoc</span>
            </a>
            <small class="brand-subtext">by <a href="https://tiptier.co" target="_blank" rel="noopener noreferrer">Tiptier</a></small>
        </div>
        <nav class="nav">
            <a href="/" class="nav-link">Home</a>
            <a href="/add-document" class="nav-link">Upload Document</a>
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">© <span id="year"></span> ChatPDFDoc
        <br/> 
    <a href="https://github.com/ayotomiwasalau/chatpdfdoc" class="github-link" target="_blank" rel="noopener noreferrer">GitHub</a>
    </footer>
    <script src="/static/js/app.js"></script>
    {% block body_extra %}{% endblock %}
</body>
</html>

